*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root{
    --Background1 : black;
    --Background2 : rgb(29, 29, 29);
    --Background3 : rgb(88, 88, 88);
}

body{
    background-color: var(--Background1);
    
    box-shadow:
    inset 0px 0px 20vw var(--Background1),
    inset 0px 0px 22vw var(--Background2),
    inset 0px 0px 30vw var(--Background1),
    inset 0px 0px 70vw var(--Background3),
    inset 0px 0px 50vw var(--Background1);

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 100vh;
}

body:hover{
    cursor: pointer;
}
body:active{
    cursor:grab;
}


h1{
    position: fixed;
    font-family: monsterrat;
    color: white;
    font-size: 7vw;
    top: 30vh;

    width: 100vw;
    height: 100vh;
    align-self: center;
    text-align: center;

    text-shadow: 0px 0px 3vw rgba(255, 255, 255, 0.596);
    padding: 2vw;
}

h2{
    position: fixed;
    font-family: monsterrat;
    color: white;
    text-shadow: 0px 0px 0.5vw rgba(255, 255, 255, 0.596);
    font-size: 3vw;
    top: 48vh;
    padding: 2vw;
}
h3{
    position: fixed;
    font-family: monsterrat;
    color: rgba(255, 255, 255, 1);

    font-size: 2vw;
    top: 57vh;
    padding: 2vw;
}

#background {
    z-index: -100;
    width: 100vw;
    height: 100vw;
    scale: 200%;

    background-color: var(--Background2);

    box-shadow: 
    inset 0px -35vw 50vw var(--Background1),
    inset 0px 35vw 50vw var(--Background1),
    inset 25vw 0 50vw var(--Background1),
    inset -25vw 0 50vw var(--Background1);

    animation: BackgroundAnim 60s linear infinite;
}

#border{
    width: calc(100vw - 3vw);
    height: calc(100vh - 3vw);
    margin-left: -100vw;
    border: rgba(255, 255, 255, 0.789) solid 4px;
    box-shadow: 0px 0px 10px white,
    inset 0px 0px 10px white;
    border-radius: 2px;
}

@keyframes BackgroundAnim {
    0% {rotate: 0deg;
    }
    20% {rotate: 90deg;
    }
    55% {rotate: 180deg;
    }
    73% {rotate: 270deg;
    }
    100% {rotate: 360deg;
    }
}

@font-face {
    font-family: monsterrat-extra-bold;
    src: url(Fonts/Montserrat-ExtraBold.otf);
}
@font-face {
    font-family: monsterrat;
    src: url(Fonts/Montserrat-Bold.otf);
}