*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root{
    --Background1 : rgba(0, 0, 0, 0.671);
    --Background2 : rgb(29, 29, 29);
    --Background3 : rgb(88, 88, 88);
}

body{
    background-color: var(--Background1);
    
    box-shadow:
    inset 0px 0px 20vw var(--Background1),
    inset 0px 0px 22vw var(--Background2),
    inset 0px 0px 30vw var(--Background1),
    inset 0px 0px 70vw var(--Background3),
    inset 0px 0px 50vw var(--Background1);

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 100vh;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


h1{
    position: fixed;
    font-family: monsterrat;
    color: white;
    font-size: 7vw;
    top: 30vh;

    width: 100vw;
    height: 100vh;
    align-self: center;
    text-align: center;

    text-shadow: 0px 0px 3vw rgba(255, 255, 255, 0.596);
    padding: 2vw;
}

h2{
    position: fixed;
    font-family: monsterrat;
    color: white;
    text-shadow: 0px 0px 0.5vw rgba(255, 255, 255, 0.596);
    font-size: 3vw;
    top: 48vh;
    padding: 2vw;
}

#mainDiv{
    position: fixed;
    
    width: 70vw;
    height: 30vh;
    z-index: 10000;
}

#mainDiv:hover{
    cursor:pointer;
}

#mainDiv h3{
    position: fixed;
    font-family: monsterrat;
    color: rgba(0, 0, 0, 0.781);
    text-shadow: 0.1vw 0.1vw 0.1vw rgba(255, 255, 255, 0.541),
    1vw 1vw 0.1vw rgba(0, 0, 0, 0.644);

    font-size: 9vw;
    padding: 2vw;

    transition: 400ms ease-out;
}

#mainDiv:hover h3{
    color: rgba(255, 255, 255, 0.89);
    text-shadow: 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.541),
    1vw 1vw 0.1vw rgba(0, 0, 0, 0.562),
    0vw 0vw 0.3vw rgba(0, 0, 0, 0.342);
    transition: 100ms ease-out;
}

#mainDiv:active h3{
    margin-top: 1vw;
    color: rgba(255, 255, 255, 1);
}

#textBackground{
    position: fixed;

    width: 60vw;
    height: 3vw;
    margin-top: 6vw;
    background-color: rgba(0, 0, 0, 0.24);
    box-shadow: 0.1vw 0.1vw 0.1vw 0 rgba(255, 255, 255, 0.541);

    transition: 400ms ease-out;
}

#mainDiv:hover #textBackground{
    height:12vw;
    width: 70vw;
    margin-top: 1vw;
    
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.178) 50%, rgba(255, 255, 255, 0) 50%);

    box-shadow: 0vw 1vw 1vw 0 rgba(0, 0, 0, 0.678),
    inset 0 0 1vw 0.1vw rgba(0, 0, 0, 0.363);
    
    border-radius: 2px;
    transition: 100ms ease-out;
}

.dot{
    position: fixed;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0vw 0vw 3vw 0.7vw rgba(255, 255, 255, 0.685),
    0vw 0vw 1vw 0px rgba(255, 255, 255, 0.685),
    inset 0vw 0vw 0.5vw 0 rgba(0, 0, 0, 0.603);
}






#background {
    z-index: -100;
    width: 100vw;
    height: 100vw;
    scale: 200%;

    background-color: var(--Background2);

    box-shadow: 
    inset 0px -35vw 50vw var(--Background1),
    inset 0px 35vw 50vw var(--Background1),
    inset 25vw 0 50vw var(--Background1),
    inset -25vw 0 50vw var(--Background1);

    animation: BackgroundAnim 60s linear infinite;
}

#border{
    width: calc(100vw - 3vw);
    height: calc(100vh - 3vw);
    margin-left: -100vw;
    border: rgba(255, 255, 255, 0.789) solid 4px;
    box-shadow: 0px 0px 10px white,
    inset 0px 0px 10px white;
    border-radius: 2px;
}

button{
    position: fixed;
}


@keyframes BackgroundAnim {
    0% {rotate: 0deg;
    }
    20% {rotate: 90deg;
    }
    55% {rotate: 180deg;
    }
    73% {rotate: 270deg;
    }
    100% {rotate: 360deg;
    }
}

@font-face {
    font-family: monsterrat-extra-bold;
    src: url(/Fonts/Montserrat-ExtraBold.otf);
}
@font-face {
    font-family: monsterrat;
    src: url(/Fonts/Montserrat-Bold.otf);
}