*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root{
    --Background1 : rgba(12, 12, 12, 0.671);
    --Background2 : rgb(31, 31, 31);
    --Background3 : rgb(88, 88, 88);
}

body{
    background-color: var(--Background1);
    
    box-shadow:
    inset 0px 0px 20vw var(--Background1),
    inset 0px 0px 22vw var(--Background2),
    inset 0px 0px 30vw var(--Background1),
    inset 0px 0px 70vw var(--Background3),
    inset 0px 0px 50vw var(--Background1);

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 100vh
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


h1{
    position: fixed;
    font-family: monsterrat;
    color: white;
    font-size: 7vw;
    top: 30vh;

    width: 100vw;
    height: 100vh;
    align-self: center;
    text-align: center;

    text-shadow: 0px 0px 3vw rgba(255, 255, 255, 0.596);
    padding: 2vw;
}

h2{
    position: fixed;
    font-family: monsterrat;
    color: white;
    text-shadow: 0px 0px 0.5vw rgba(255, 255, 255, 0.596);
    font-size: 3vw;
    top: 48vh;
    padding: 2vw;
}

#mainDiv{
    position: fixed;
    
    width: 70vw;
    height: 50vh;
    z-index: 10000;

    transition: 700ms;
}

#mainDiv h3{
    position: fixed;
    font-family: monsterrat;
    color: white;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.155);
    /* text-shadow: 0.1vw 0.1vw 0.1vw rgba(255, 255, 255, 0.541),
    1vw 1vw 0.1vw rgba(0, 0, 0, 0.644); */
    
    background-image: 
    linear-gradient(to right, 
    white,rgba(255, 255, 255, 0.798),white,rgba(255, 255, 255, 0.701),
    rgba(255, 255, 255, 0.728),white,rgba(255, 255, 255, 0.865), white); 
    background-size: 200% ;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: rainbow-animation 120s linear infinite;

    font-size: 9vw;
    padding: 2vw;

    transition: 400ms ease-out;

    pointer-events: none;
    user-select: none;
}
#mainDiv:hover h3{
    text-shadow: 0px 0px 40px rgba(255, 255, 255, 0.308),
    0px 0px 10px rgba(255, 255, 255, 0.781),
    0px 0px 30px rgba(0, 0, 0, 0.582);
    background-color: white;
    transition: 150ms;
}

#mainDiv:active h3{
    margin-top: 1vw;
    color: rgba(255, 255, 255, 1);
}

#mainDiv div{
    position: fixed;
    box-shadow: 0px 0px 10px white,
    inset 0px 0px 10px white;
    background-color: white;
    transition: 250ms ease-out;
}

#textBottomLine{
    margin-right: calc( 65vw - 2vw);
    margin-top: 15vw;
    width: 0;
    height: 4px;
}
#textRightLine{
    margin-left: 65vw;
    margin-top: 1vh;
    margin-bottom: 12vw;
    width: 4px;
    height: 0;
}
#textTopLine{
    margin-right: 0;
    width: calc(65vw - 2vw);
    margin-top: -15vw;
    height: 4px;
}
#textLeftLine{
    margin-right: 65vw;
    margin-top: 1vh;
    margin-bottom: 0;
    height: 12vw;
    width: 4px;
}


#mainDiv:hover #textBottomLine{
    margin-right: 0;
    width: calc(65vw - 2vw);
}
#mainDiv:hover #textRightLine{
    margin-bottom: 0;
    height: 12vw;
}

#mainDiv:active #textBottomLine{
    height: calc((30vh - 2vw) / 2);
    margin-bottom: calc((30vh - 2vw) / 2);
    transition: 150ms;
}

#mainDiv:active #textTopLine{
    width: 0;
    transition: 100ms !important;
}


#mainDiv:hover{
    cursor:pointer;
    scale: 110%;
    transition: 300ms;
}


.mainDivActive{
    width: 250vw;
    height: 250vw;
    scale: 300% !important;
}
.mainDivActive h3{
    margin-top: 5vw;
}

.mainDivActive #textBottomLine{
    width: 100vw !important;
    height: 100vh !important;
    background-color: white;
}
.mainDivActive #textTopLine{
    opacity: 0 !important;
    transition: 0ms;
}

.mainDivActive h3{
    text-shadow: none !important;
    transition: 100ms !important;
}


.dot{
    position: fixed;
    width: 0.85vw;
    height: 0.85vw;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0vw 0vw 0.6vw 0vw rgba(255, 255, 255, 0.79),
    0vw 0vw 0.1vw 0px rgba(255, 255, 255, 0.685),
    inset 0vw 0vw 0.2vw 0 rgba(0, 0, 0, 0.603);
}






#background {
    z-index: -100;
    width: 100vw;
    height: 100vw;
    scale: 200%;

    background-color: var(--Background2);

    box-shadow: 
    inset 0px -35vw 50vw var(--Background1),
    inset 0px 35vw 50vw var(--Background1),
    inset 25vw 0 50vw var(--Background1),
    inset -25vw 0 50vw var(--Background1);

    animation: BackgroundAnim 60s linear infinite;
}

#border{
    width: calc(100vw - 3vw);
    height: calc(100vh - 3vw);
    margin-left: -100vw;
    border: rgba(255, 255, 255, 0.789) solid 4px;
    box-shadow: 0px 0px 10px white,
    inset 0px 0px 10px white;
    border-radius: 2px;
}

button{
    position: fixed;
}

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}


@keyframes BackgroundAnim {
    0% {rotate: 0deg;
    }
    20% {rotate: 90deg;
    }
    55% {rotate: 180deg;
    }
    73% {rotate: 270deg;
    }
    100% {rotate: 360deg;
    }
}

@font-face {
    font-family: monsterrat-extra-bold;
    src: url(/Fonts/Montserrat-ExtraBold.otf);
}
@font-face {
    font-family: monsterrat;
    src: url(/Fonts/Montserrat-Bold.otf);
}