*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark1:black;
    --dark2:black;
    --light1:rgb(255, 255, 255);
    --light2:rgb(250, 220, 220);

    --Background1 : rgba(12, 12, 12, 0.671);
    --Background2 : rgb(31, 31, 31);
    --Background3 : rgb(88, 88, 88);

    --InvertedTransitionTime: 3000ms;
}

.inverted{
    --dark1:white;
    --dark2:white;
    --light1:rgb(0, 0, 0);
    --light2:rgb(0, 0, 0);

    background-color: var(--dark1);
}

body{
    background-color: var(--dark1);
    transition: background-color var(--InvertedTransitionTime);
    background-color: var(--dark1);
    width: 100vw; height: 100vh; overflow: hidden;
}

#mainContainer{
    padding: 2vw;
    width: 100%; height: 100%;
    display: grid;

    grid-template-areas:
    "navbar navbar navbar navbar . name"
    "navline navline navline navline navline navline"
    "content content content contentline content2 content2"
    "content content content contentline content2 content2"
    "content content content contentline content2 content2"
    "footer footer footer footer footer footer";

    grid-template-columns: repeat(3, 1fr) 1vw 0.5fr 1fr;
    grid-template-rows: 0.4fr 1.5vh repeat(3, 1fr) 0.2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#mainContainer > div{
    width: 100%; height: 100%;
}

#navline{
    grid-area: navline;
    width: 100%;
    height: 100%;

    border-radius: 7px;

    background-color: var(--light1);
    box-shadow: 0px 0px 5px var(--light1);
    transition: background-color var(--InvertedTransitionTime),
    box-shadow var(--InvertedTransitionTime);

    animation: slideInTop 1s , fade 1s;
}

#navbar{
    grid-area: navbar;
    gap: 4vw;
    animation: slideInLeft 3s , fade 2s;
}

#navbar h2{
    font-family: monsterrat;
    font-size: 1.5vw;
    line-height: 100%;
    color: var(--light1);
    transition: color var(--InvertedTransitionTime);
}
#navbar h2 div{
    width: 0%;
    height: 5px;
    margin-top: 0.75vh;
    background-color: var(--light1);
    transition: background-color var(--InvertedTransitionTime);
    transition: 50ms;
    border-radius: 5px;
}
#navbar h2:hover{
    cursor: pointer;
    color: var(--light2);
    transition: color var(--InvertedTransitionTime);
    transition: 50ms;
}
#navbar h2:hover div{
    width: 100%;
    background-color: var(--light2);
    transition: background-color var(--InvertedTransitionTime);
    transition: 200ms;
}
#navbar h2:active{
    color: var(--light1);
    transition: color var(--InvertedTransitionTime);
}
#navbar h2:active div{
    scale: 80%;
    background-color: var(--light1);
    transition: background-color var(--InvertedTransitionTime);
}

#name{
    grid-area: name;
    text-align: center;
    margin-top: -1vh;
    font-family: monsterrat-bold;
    font-size: 3vw;
    color: var(--light1);
    transition: color var(--InvertedTransitionTime);
    animation: slideInRight 2s , fade 1s;
}

.letterLight{
    animation: LetterLightUp 3s infinite;
}

.inverted #background{
    opacity: 0;
}

#contentContainer{
    grid-area: content;
}
#content2Container{
    grid-area: content2;
}

#content{
    height: 99%;
    width: 100%;
    background-color: red;
}

#content2{
    height: 99%;
    width: 100%;
    background-color: blue;
}

.contentEndLine{
    width: 90%;
    height: 1%;
    border-radius: 7px;

    background-color: var(--light1);
    box-shadow: 0px 0px 5px var(--light1);
    transition: background-color var(--InvertedTransitionTime),
    box-shadow var(--InvertedTransitionTime);
}







#background {
    opacity: 1;
    transition: opacity var(--InvertedTransitionTime);
    position: fixed;
    z-index: -1000;
    width: 100vw;
    height: 100vw;
    scale: 200%;

    background-color: var(--Background2);

    box-shadow: 
    inset 0px -35vw 50vw var(--Background1),
    inset 0px 35vw 50vw var(--Background1),
    inset 25vw 0 50vw var(--Background1),
    inset -25vw 0 50vw var(--Background1);

    animation: BackgroundAnim 60s linear infinite;
}



@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes slideInTop {
    from{
        transform: translateY(-1.5vh);
    }
    to {
      transform: translateY(0);
    }
}
@keyframes slideInLeft {
    from{
        transform: translateX(-1.5vw);
    }
    to {
      transform: translateX(0);
    }
}
@keyframes slideInRight {
    from{
        transform: translateX(1.5vw);
    }
    to {
      transform: translateX(0);
    }
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}





@keyframes LetterLightUp {
    0%, 25%{
        text-shadow: none;
    }
    50%{
        text-shadow: 4px -4px 3px var(--light2);
    }
    75%, 100%{
        text-shadow: none;
    }
}

@keyframes BackgroundAnim {
    0% {rotate: 0deg;
    }
    20% {rotate: 90deg;
    }
    55% {rotate: 180deg;
    }
    73% {rotate: 270deg;
    }
    100% {rotate: 360deg;
    }
}


@font-face {
    font-family: monsterrat;
    src: url(/Fonts/Montserrat-Bold.otf);
}
@font-face {
    font-family: monsterrat-bold;
    src: url(/Fonts/Montserrat-Bold.otf);
}
@font-face {
    font-family: monsterrat-extra-bold;
    src: url(/Fonts/Montserrat-ExtraBold.otf);
}
@font-face {
    font-family: monsterrat-light;
    src: url(/Fonts/Montserrat-Light.otf);
}
@font-face {
    font-family: monsterrat-thin;
    src: url(/Fonts/Montserrat-Thin.otf);
}