*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark1:black;
    --dark2:black;
    --light1:rgb(255, 255, 255);
    --highlight:#ffee6a;

    --Background1 : rgba(12, 12, 12, 0.671);
    --Background2 : rgb(31, 31, 31);
    --Background3 : rgb(88, 88, 88);

    --InvertedTransitionTime: 3000ms;
    --ColorTransitionTIme: 50ms;
}

.inverted{
    --dark1:white;
    --dark2:white;
    --light1:rgb(0, 0, 0);  
    --highlight:rgb(0, 0, 0);

    background-color: var(--dark1);
}

body{
    transition: background-color var(--InvertedTransitionTime);
    background-color: var(--Background3);
    width: 100vw; height: 100vh; overflow: hidden;
}

#mainContainer{
    padding: 2vw;
    width: 100%; height: 100%;
    display: grid;

    grid-template-areas:
    "navbar navbar navbar navbar . name"
    "navline navline navline navline navline navline"
    "content content content contentline content2 content2"
    "content content content contentline content2 content2"
    "content content content contentline content2 content2"
    "footer footer footer footer footer footer";

    grid-template-columns: repeat(3, 1fr) 1vw 0.5fr 1fr;
    grid-template-rows: 0.4fr 1.5vh repeat(3, 1fr) 0.2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#mainContainer > div{
    width: 100%; height: 100%;
}

#navline{
    grid-area: navline;
    width: 100%;
    height: 100%;

    border-radius: 7px;

    background-color: var(--light1);
    box-shadow: 0px 0px 5px var(--light1);
    transition: background-color var(--InvertedTransitionTime),
    box-shadow var(--InvertedTransitionTime);

    animation: slideInTop 1s , fade 1s;
}

#navbar{
    grid-area: navbar;
    gap: 4vw;
    animation: slideInLeft 3s , fade 2s;
}

#navbar h2{
    font-family: monsterrat;
    font-size: 1.5vw;
    line-height: 100%;
    color: var(--light1);
    transition: color var(--InvertedTransitionTime);
}
#navbar h2 div{
    width: 0%;
    height: 5px;
    margin-top: 0.75vh;
    background-color: var(--light1);
    transition: background-color var(--InvertedTransitionTime);
    transition: 50ms;
    border-radius: 5px;
}
#navbar h2:hover{
    cursor: pointer;
    color: var(--highlight);
    transition: color var(--InvertedTransitionTime);
    transition: var(--ColorTransitionTIme);
}
#navbar h2:hover div{
    width: 100%;
    background-color: var(--highlight);
    transition: color var(--InvertedTransitionTime);
    transition: var(--ColorTransitionTIme);
}
#navbar h2:active{
    color: var(--light1);
    transition: color var(--InvertedTransitionTime);
}
#navbar h2:active div{
    scale: 80%;
    background-color: var(--light1);
    transition: background-color var(--InvertedTransitionTime);
}



#navbar .selected div{
    width: 100%;
    background-color: var(--light1);
    transition: background-color var(--InvertedTransitionTime);
}

#name{
    grid-area: name;
    text-align: center;
    margin-top: -1vh;
    font-family: monsterrat-bold;
    font-size: 3vw;
    color: var(--light1);
    transition: color var(--InvertedTransitionTime);
    animation: slideInRight 2s , fade 1s;
}

.letterLight{
    animation: LetterLightUp 3s infinite;
}

.inverted #background{
    opacity: 0;
}

#contentContainer{
    grid-area: content;
}
#content2Container{
    grid-area: content2;
}

#content{
    height: 99%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#content > div{
    position: absolute;
    width: 100%;
    height: 100%;
}

#content2{
    height: 99%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#content2 > div{
    position: absolute;
    width: 90%;
    height: 100%;
}

#page1Content2{
    width: 100%;
    height: 100%;
}

#aboutMeImageContainer{
    width: 100%;
    height: 73%;
}


#page1Content2 #aboutMeImage{
    width: 55%;
    aspect-ratio: 3/4;
    background-color: rgba(255, 255, 255, 0.145);
}

#page1Content2 #aboutMeDescription{
    width: 90%;
    height: 27%;
}

#page1Content2 #aboutMeDescription p{
    font-family: monsterrat;
    font-size: 1vw;
    line-height: 130%;
    text-align: center;
    color: var(--light1);
    transition: color var(--InvertedTransitionTime);
}

#page1Content2 #aboutMeDescription p span{
    color: var(--highlight);
    transition: color var(--InvertedTransitionTime);
}

.contentEndLine{
    width: 90%;
    height: 1%;
    border-radius: 7px;

    background-color: var(--light1);
    box-shadow: 0px 0px 5px var(--light1);
    transition: background-color var(--InvertedTransitionTime),
    box-shadow var(--InvertedTransitionTime),100ms;
}







#background {
    opacity: 1;
    transition: opacity var(--InvertedTransitionTime);
    position: fixed;
    z-index: -1000;
    width: 100vw;
    height: 200vh;
    scale: 200%;
    left: 25vw;
    top: -25vh;

    background-color: var(--Background2);

    box-shadow: 
    inset 0px -35vw 50vw var(--Background1),
    inset 0px 35vw 50vw var(--Background1),
    inset 25vw 0 50vw var(--Background1),
    inset -25vw 0 50vw var(--Background1);

    animation: BackgroundAnim 60s linear infinite;
}







#page1Content{
    width: 100%;
    height: 100%;
}

#skillsContainer{
    width: 90%;
    height: 76%;
    padding: 1%;
    gap: 2%;
}
#skillsDescription{
    width: 90%;
    height: 24%;
}

.skillsTitle{
    width: 100%;
    height: calc(100% / 6);
    animation: slideInTop 2s , fade 2s;
}
.skillsTitle h2{
    text-align: center;
    font-size: 2.5vw;
    color: var(--highlight);
}

.skillContainer{
    width: 100%;
    height: calc(100% / 6);
}

.skillContainer .skillLeft{
    width: 50%;
    height: 100%;
    animation: slideInLeft 2s , fade 2s;
}

.skillLeft h2{
    width: 100%;
    text-align: right;
    font-size: 2vw;
}


.skillContainer .skillRight{
    width: 50%;
    height: 100%;
    padding-left: 3%;
    display: flex;
    align-items: center;
    animation: slideInRight 2s , fade 2s;
}
.skillRight h2{
    font-size: 1.5vw;
}

h2{
    font-family: monsterrat;
    color: var(--light1);
    transition: color var(--InvertedTransitionTime);
}

.starP{
    color: var(--highlight);
}

.starN{
    color: #80808090;
}

#welcomeText{
    position: fixed;
    width: 100vw;
    height: 100vw;
}

#welcomeText h3{
    font-family: monsterrat;
    color: black;
    font-size: 10vw;
    animation: fade 1.5s , 2s fadeOut 1.5s;
}


#projectSelectorContainer{
    width: 100%;
    height: 100%;
    /* outline: red solid 1px; */

    display: flex;
    align-items: center;
    flex-direction: column;
    border-left: rgba(0, 0, 0, 0.25) solid 12px;
}
#projectSelectorSettings{
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    gap: 2%;
    padding-left: 4%;
}
#projectSelectorSettings button{
    height: 60%;
    aspect-ratio: 1/1;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--highlight);
    font-family: monsterrat;
    letter-spacing: 1px;
    border: var(--highlight) solid 1px;
    border-radius: 10px;

    background-size: contain;
}
#projectSelectorSettings button:hover{
    cursor: pointer;
    box-shadow: var(--highlight) 0px 0px 8px;
    transition: 150ms;
}
#projectSelectorSettings button:active{
    background-color: var(--highlight);
    box-shadow: var(--highlight) 0px 0px 8px;
    transition: 0ms;
    color: black;
    text-shadow: black 0px 0px 2px;
}
#smallSizeButton.selected{
    text-shadow: black 0px 0px 1px !important;
}
#projectSelectorSettings .selected{
    background-color: var(--highlight);
    transition: 0ms;
    color: black;
    text-shadow: black 0px 0px 2px;
    font-weight: bold;
}
#projectSelectorSettings button div{
    width: 100%;
    height: 100%;
    background-size: contain;
}

#projectSelectorProjects{
    width: 100%;
    height: 90%;
    /* outline: yellow solid 1px; */
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.25);
    border-left: rgba(0, 0, 0, 0.295) solid 4px;
    border-top: rgba(0, 0, 0, 0.295) solid 4px;
    border-bottom: rgba(0, 0, 0, 0.295) solid 6px;
}

.projectSmallItems{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: calc(25%);

    gap: 0px;
}

.projectLargeItems{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 25%;
    gap: 10px;
    padding-top: 2%;
}

#projectSelectorProjects::-webkit-scrollbar-track
{
    background-color: rgb(0, 0, 0, 0.2);
}

#projectSelectorProjects::-webkit-scrollbar
{
	width: 12px;
    transition: background-color 4s ease, width 4s ease; /* Add transition for smooth change */

}

#projectSelectorProjects::-webkit-scrollbar-thumb
{
	background-color: var(--highlight);
    border-bottom: rgba(0, 0, 0, 0.5) solid 2px;
    border-right: rgba(0, 0, 0, 0.5) solid 2px;
    border-radius: 3px;

}

@-moz-document url-prefix() {
    #projectSelectorProjects {
        scrollbar-width: auto;
        scrollbar-color: var(--highlight) rgba(0, 0, 0, 0.25); /* Set thumb and track color */
    }
}

.project{
    width:100%;
    height: 100%;
    background-color: rgb(48, 48, 48);
}
.project:hover{
    cursor: pointer;
}

.projectSmallItems .project{
    scale: 80%;
}

.projectSmallItems .project:active{
    scale: 85%;
    transition: 20ms;
}
.projectSmallItems .selected{
    box-shadow: var(--highlight) 2px 2px 5px;
}

.project .projectInf h2{
    transition: color 500ms !important;
}
.project:hover .projectInf h2{
    color: var(--highlight);
    transition: color 100ms !important;
}

.projectLargeItems .project{
    display: flex;
    width: 94% !important;
    margin-left: 3%;
    align-items: center;
    flex-direction: row;
    box-shadow: 2px 2px 0px 2px var(--highlight);
}
.projectLargeItems .project .projectImg{
    background-size: cover;
    background-position: center;
    transition: 00ms;
}
.projectLargeItems .project .projectInf{
    transition: 100ms;
    padding: 8px;
}
.projectLargeItems .selected .projectImg{
    transform: translateX(150%);
    transition: 300ms;
}
.projectLargeItems .selected .projectInf{
    transform: translateX(-66%);
    transition: 200ms;
}

.projectLargeItems .project .projectImg{
    width: 40%;
    height: 100%;
    background-color: rgb(204, 204, 204);
}
.projectLargeItems .project .projectInf{
    width: 60%;
    height: 100%;
    background-color: rgb(58, 58, 58);
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 5%;
    padding-top: 4%;
}
.projectLargeItems .project .projectInf h2{
    font-size: 200%;
    width: 100%;
    height: 30%;
}
.projectLargeItems .project .projectInf h3{
    font-size: 100%;
    font-family: monsterrat;
    text-align: center;
}

.projectLargeItems .projectDescCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}
.projectSmallItems .project{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.projectSmallItems .project .projectImg{
    width: 100%;
    height: 80%;
    background-size: cover;
    background-color: rgb(204, 204, 204);
}
.projectSmallItems .project .projectInf h3{
    display: none;
}

#projectTemplate{
    display: none;
}

#page2Content{
    height: 100%;
    width: 100%;
}

.projectContainer{
    margin-left: 10%;
    width: 80%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    /* outline: yellow solid 1px; */
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.25);
    border-left: rgba(0, 0, 0, 0.295) solid 12px !important;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.projectContainer::-webkit-scrollbar-track
{
    background-color: rgb(0, 0, 0, 0.2);
}

.projectContainer::-webkit-scrollbar
{
	width: 12px;
    transition: background-color 4s ease, width 4s ease; /* Add transition for smooth change */

}

.projectContainer::-webkit-scrollbar-thumb
{
	background-color: var(--highlight);
    border-bottom: rgba(0, 0, 0, 0.5) solid 2px;
    border-right: rgba(0, 0, 0, 0.5) solid 2px;
    border-radius: 3px;

}

@-moz-document url-prefix() {
    .projectContainer {
        scrollbar-width: auto;
        scrollbar-color: var(--highlight) rgba(0, 0, 0, 0.25); /* Set thumb and track color */
    }
}

#projectTitle{
    font-size: 350%;
    line-height: 200%;
}

#projectHeaderImg{
    background-color: white;
    width: 80%;
    max-height: 60%;
    /* min-height: 40%; */
    
}
#projectDate{
    width: 100%;
    text-align: start;
    margin-top: 3%;
}
#projectRating{
    width: 100%;
    text-align: start;
    line-height: 100%;
}

.projectSection{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 7%;
    margin-top: 10%;
}

.projectSection img{
    width: 50%;
    aspect-ratio: 16/9;
    background-color: white;
}

.projectSection .projectImgBig{
    width: 100% !important;
}

.projectSection h2{
    width: 40%;
    font-size: 140%;
}
#projectLearned{
    line-height: 100%;
    margin-top: 5%;
}

#projectLink{
    font-size: 200%;
    font-family: monsterrat-bold;
    line-height: 350%;
}

#FlipOrderImg{
    
    background-image: url("/Img/SortArrows.png");
    background-color: var(--highlight);
    background-blend-mode:color-burn;
    background-size: contain;
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes slideInTop {
    from{
        transform: translateY(-1.5vh);
    }
    to {
      transform: translateY(0);
    }
}
@keyframes slideInLeft {
    from{
        transform: translateX(-1.5vw);
    }
    to {
      transform: translateX(0);
    }
}
@keyframes slideInRight {
    from{
        transform: translateX(1.5vw);
    }
    to {
      transform: translateX(0);
    }
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slideLeft{
    animation: SlideLeft 1s forwards;
}
.slideRight{
    animation: SlideRight 1s forwards;
}

.slideInLeft{
    animation: SlideLeft 1s backwards;
}
.slideInRight{
    animation: SlideRight 1s backwards;
}

@keyframes SlideLeft {
    0% {transform: translateX(0vw);
    }
    100% {transform: translateX(-100vw);
    }
}
@keyframes SlideRight {
    0% {transform: translateX(0vw);
    }
    100% {transform: translateX(100vw);
    }
}


@keyframes LetterLightUp {
    0%, 25%{
        text-shadow: none;
    }
    50%{
        text-shadow: 4px -4px 3px var(--highlight);
    }
    75%, 100%{
        text-shadow: none;
    }
}

@keyframes BackgroundAnim {
    0% {rotate: 0deg;
    }
    20% {rotate: 90deg;
    }
    55% {rotate: 180deg;
    }
    73% {rotate: 270deg;
    }
    100% {rotate: 360deg;
    }
}


@font-face {
    font-family: monsterrat;
    src: url(/Fonts/Montserrat-Bold.otf);
}
@font-face {
    font-family: monsterrat-bold;
    src: url(/Fonts/Montserrat-Bold.otf);
}
@font-face {
    font-family: monsterrat-extra-bold;
    src: url(/Fonts/Montserrat-ExtraBold.otf);
}
@font-face {
    font-family: monsterrat-light;
    src: url(/Fonts/Montserrat-Light.otf);
}
@font-face {
    font-family: monsterrat-thin;
    src: url(/Fonts/Montserrat-Thin.otf);
}